
body {
    background: #111;
    color: white;
    font-family: Arial;
    text-align: center;
    padding: 20px;
}

input {
    padding: 10px;
    width: 300px;
}

button {
    padding: 10px;
    background: crimson;
    color: white;
    border: none;
    cursor: pointer;
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.card {
    background: #1c1c1c;
    padding: 15px;
    margin: 10px;
    width: 250px;
    border-radius: 10px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}
