body {
    font-family: Arial;
    background-color: #111;
    color: white;
    text-align: center;
}

h1 {
    margin-top: 40px;
}

input {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkorange;
}

li {
    list-style: none;
    margin-bottom: 20px;
}
