<h2>Admin Dashboard</h2>

<table border="1" cellpadding="10">
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Action</th>
    </tr>

    {% for user in users %}
    <tr>
        <td>{{ user[0] }}</td>
        <td>{{ user[1] }}</td>
        <td>{{ user[2] }}</td>
        <td>{{ user[3] }}</td>
        <td>
            {% if current_user.role == "superadmin" and user[3] == "user" %}
                <a href="/make_admin/{{ user[0] }}">Make Admin</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>